@use "sass:color";
@use "functions.scss";
@use "variables.scss";


@mixin palette ($color, $border-color: variables.$color-primary, $font-size: 1rem){
    color: $color;
    border: functions.toRem(variables.$standard-border-px) solid $border-color;
    font-size: $font-size;
}

.exercise {
border: functions.toRem(variables.$standard-border-px) solid variables.$color-primary;

    .exercise-title {
        color: variables.$color-tertiary;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: variables.$color-secondary;
        text-decoration-thickness: functions.toRem(1) ;
    } 

    $margin: functions.toRem(16);
    section {
    margin: $margin;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

    article {
    text-align: center;
    border: functions.toRem(variables.$standard-border-px) solid variables.$color-tertiary;
    padding: functions.toRem(5);
    &.red {
        @include palette(red, green, 1rem);
    }

    &.blue {
        @include palette(blue, green, 1rem);
    }
    &.lorem {
        padding: functions.toRem(5);
        width: 100%;
        @include palette(green, blue, functions.toRem(24));

    }

}

}