@use "sass:color";

$first-color: red;
$second-color: blue;
$third-color: green;

$standard-border-px: 1;

@function toRem($value) {
    $remValue: calc($value / 16) + rem; 
    @return $remValue;
}

@mixin palette ($color, $border-color: green, $font-size: 1rem){
    color: $color;
    border: toRem($standard-border-px) solid $border-color;
    font-size: $font-size;
}

%text {

    color: $third-color;
    text-align: center;

}


.container {
    border: toRem($standard-border-px) solid $first-color;
    $margin: toRem(16);

    .exercise-title {
        @extend %text;
        text-decoration: underline;
        text-decoration-color: $second-color;
        text-decoration-thickness: toRem(1) ;
    } 

    h2 {
        
        @include palette($third-color, $first-color, 1rem);
        @extend %text;
        margin: 0 40%;
        padding: 1rem;

    }

    section {
    margin: $margin;
    display: flex;
    flex-direction: row;
    }

    article {
    
    @extend %text;
    border: toRem(1) solid $third-color;
    padding: toRem(5);
    &.red {
        @include palette(red, green, 1rem);
    }

    &.blue {
        @include palette(blue, green, 1rem);
    }
    &.lorem {
        padding: toRem(5);
        width: 100%;
        @include palette(green, blue, 24px);

    }

}

}